@charset "UTF-8";
:root {
  font-size: 10px;
}

body {
  background: linear-gradient(165deg, #100f24 10%, #213a59 65%, #86c6b9 150%);
  color: #f2ecde;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-areas: "header" "settings" "main" "footer";
  grid-template-rows: auto auto 1fr auto;
  margin: 0;
  min-height: 100svh;
}
@media only screen and (min-width: 768px) {
  body {
    grid-template-areas: "header main" "settings main" "footer footer";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 408px auto;
  }
}

header {
  grid-area: header;
  margin-left: 1rem;
}
header h1 {
  margin-bottom: 0;
}
header h1 ~ h2 {
  margin-top: 0;
}

form {
  grid-area: settings;
  border-block: 2px solid #f2ecde;
  border-inline: none;
}
@media only screen and (min-width: 768px) {
  form {
    border: 2px solid #f2ecde;
    border-left: none;
    border-radius: 0 25px 25px 0;
  }
}
form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0;
}
form fieldset legend {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block: 1rem;
}
form fieldset > label {
  font-style: italic;
  text-indent: 2rem;
}
form fieldset input[type=text] {
  text-indent: 0.5rem;
  margin: 0.1rem 0;
}
form fieldset button {
  background-color: #86c6b9;
  font-size: 1.5rem;
  border: 2px solid #213a59;
  border-radius: 15px;
  padding: 0.25rem 0.5rem;
}
form fieldset button:hover {
  background-color: #52ae9b;
}
form fieldset button:hover:disabled {
  background-color: #63b6a5;
  opacity: 0.9;
}
form fieldset button:disabled {
  color: #100f24;
  opacity: 0.8;
}
form fieldset div {
  padding-block: 1rem;
}
form fieldset div > label {
  font-weight: 700;
}
form fieldset div p {
  margin-block: 0;
  font-style: italic;
}

main {
  grid-area: main;
  margin: 1rem 2rem;
  min-height: 20svh;
}
main span.thought {
  font-style: italic;
  opacity: 0.9;
}
main span.letter {
  font-style: italic;
  font-family: cursive;
  line-height: 2;
}
main span.fx,
main span.desc,
main span.parenthetical {
  font-style: italic;
  color: #c1f2e7;
}
main span.electronic {
  font-style: italic;
  color: #e0e0ea;
}
main span.UPPERCASE {
  text-transform: uppercase;
}
main cite {
  margin-left: 1rem;
}
main cite::before {
  content: "—";
}

footer {
  grid-area: footer;
  background: linear-gradient(to bottom right, #213a59, #100f24);
  border-top: 2px solid #f2ecde;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1rem;
}
footer p {
  margin-block: 0;
}
footer a {
  color: #86c6b9;
}
footer div#credits div#myLinks {
  display: flex;
  flex-direction: row;
}
footer div#credits div#myLinks ul {
  margin-block: 0.5rem;
}
footer div#numberOfQuotes table {
  border-collapse: collapse;
  text-align: left;
}
footer div#numberOfQuotes table caption {
  font-style: italic;
  margin-bottom: 0.5rem;
}
footer div#numberOfQuotes table th, footer div#numberOfQuotes table td {
  padding: 0 2rem;
}
footer div#numberOfQuotes table tbody th {
  text-align: right;
}/*# sourceMappingURL=style.css.map */