// COLORS
$black: #100f24;
$dark-blue: #213a59;
$blue: #86c6b9;
$dark-purple: #d87bef;
$temp: rgba(160, 98, 183, 0.5);
$purple: #ecbdff;
$white: #f2ecde;

// OTHER
$breakpoint: 768px;

// MIXINS
@mixin justified-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@import url("./span-styles.css");
:root {
    font-size: 10px;
}

body {
    background: linear-gradient(165deg, $black 10%, $dark-blue 65%, $blue 150%);
    color: $white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas:
        "header"
        "settings"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    @media only screen and (min-width: $breakpoint) {
        grid-template-areas:
            "header main"
            "settings main"
            "footer footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: calc($breakpoint * 17/32) auto;
    }
    margin: 0;
    min-height: 100svh;
}

header {
    grid-area: header;
    margin-left: 1rem;

    h1 { margin-bottom: 0; }
    h1 ~ h2 { margin-top: 0; }
}

form {
    grid-area: settings;
    border-block: 2px solid $white;
    border-inline: none;
    @media only screen and (min-width: $breakpoint) {
        border: 2px solid $white;
        border-left: none;
        border-radius: 0 25px 25px 0;
    }
    
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 0;

        legend {
            font-size: 1.75rem;
            font-weight: 700;
            margin-block: 1rem;
        }
        > label {
            font-style: italic;
            text-indent: 2rem;
        }
        input[type=text] {
            text-indent: .5rem;
            margin: .1rem 0;
        }
        button {
            background-color: $blue;
            font-size: 1.5rem;
            border: 2px solid $dark-blue;
            border-radius: 15px;
            padding: .25rem .5rem;

            &:hover {
                background-color: darken($blue, 15%);
                &:disabled {
                    background-color: darken($blue, 10%);
                    opacity: .9;
                }
            }
            &:disabled { color: $black; opacity: .8; }
        }
        div {
            padding-block: 1rem;

            > label { font-weight: 700; }
            p {
                margin-block: 0;
                font-style: italic;
            }
        }
    }
}

main {
    grid-area: main;
    margin: 1rem 2rem;
    min-height: 20svh;
    
    a {
        color: $purple !important;
        &:visited { color: $dark-purple !important; }
        > * { color: inherit !important; }
    }
    cite {
        margin-left: 1rem; // Because text-indent doesn't work on <cite> tags, for some reason...
        
        &::before {
            content: "—";
        }
    }
}

footer {
    grid-area: footer;
    background: linear-gradient(to bottom right, $dark-blue, $black);
    border-top: 2px solid $white;

    @include justified-row;
    justify-content: space-between;
    margin-top: auto;
    padding: 1rem;
    
    p { margin-block: 0; }
    a { color: $blue; }
    div#credits {
        div#myLinks {
            ul {
                margin-block: .5rem;
                padding-inline: 0;
                list-style: none;

                a {
                    @include justified-row;

                    svg {
                        margin-inline: .5rem;
                        
                        path { fill: $white; }
                    }
                }
            }
        }
    }
    div#numberOfQuotes {
        table {
            border-collapse: collapse;
            text-align: left;
            
            caption {
                font-style: italic;
                margin-bottom: .5rem;
            }
            th, td { padding: 0 2rem; }
            tbody th { text-align: right; }
        }
    }
}